{% extends "base.html" %}
{% block content %}

{% ifequal redirector_obj.st 'SUCCESS' %}
<h1>Transaction complete</h1>
<p>Thank you for your payment</p>
<p>Please print this page for your records</p>

<div>	
	<table>
	<tr><td>Payer:</td><td>{{ redirector_obj.first_name }} {{ redirector_obj.last_name }} </td></tr>
	<tr><td>Payer Email:</td><td>{{ redirector_obj.payer_email }}</td></tr>	
	<tr><td>Amount:</td><td>{{ redirector_obj.mc_currency }} {{ redirector_obj.mc_gross }}</td></tr>		
	<tr><td>Reference:</td><td>{{ redirector_obj.txn_id }}</td></tr>
	
	</table>
</div>
	
{% else %}	
<h1>Transaction Failed</h1>
<p>Sorry transaction failed, please try a different form of payment</p>	
{% endifequal %}		

{% endblock %}


